/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


.left { float: left; }
.right { float: right; }
.centerify { text-align: center; margin: auto; }
.verticalify { position: absolute; display: table; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
.high-quarter-container { width: 720px; margin: auto; }
.half-container { width: 480px; margin: auto; }
.quarter-container { width: 240px; margin: auto; }
.clearfix { clear: both; }
.no-margin: { margin: 0px !important; }
.no-padding-right: { padding-right: 0px !important; }
.no-padding-left: { padding-left: 0px !important; }

