// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-nav {
  h2 {
    font-family: 'Rancho', cursive;
    color: #2BA6CB;
    margin: 15px 0px 25px 0px;
  }//element h2

  li {
    a {
      color: #333;
      &:hover { text-decoration: underline; }//selector hover
    }//element anchor
  }//element li
}//class side-nav

section {
  padding: 25px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif !important;

  #user-form {
    margin: auto;
    width: 75%;
    display: none;

    label {
      text-align: right;
      padding: 8px 0px;
    }//element label

  }//id user-form

  .users-list {
    margin: auto;
    margin-top: 25px;
    width: 75%;

    th {
      text-align: center;
      font-weight: bold;
    }//element th

    td {
      a {
        color: #333;
        margin: 0px 5px;
        &:hover { text-decoration: underline; }//selector hover
        i { color: #333; }//element i
      }//element anchor
    }//element td
  }//class users-list
}//element section

